.c-btn-primary{
  
      color: #FFF;
    text-align: center;
    text-shadow: 1.5px 1.5px 0px #000;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #000;
    font-family: Fredoka;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    position: relative;
    
    cursor:pointer;
    height: 74px;

display:flex;
flex-direction: row;
align-content:center;
justify-content: center;
align-items:center;
    flex-shrink: 0;
    border-radius: 10px;
    background:  #F9CF38;

    box-shadow: 0 0 0 4px white,
    inset 0 0 0 3px black;


    &__text {
        color: white; 
       
text-transform: uppercase;
        text-shadow: 2.5px 1.5px 0px #000;
        -webkit-text-stroke-width: 2;
        -webkit-text-stroke-color: #000;

        font-size: 30px; 
        font-family: Fredoka; 
        z-index:1;
        font-weight: bold; 
        position: absolute;
        top:16px;
        letter-spacing: 0.60px; 
        word-wrap: break-word;
        text-align:center;
    }


}