<ion-app>




<div class='mainBg' *ngIf='!versionReady'>





<div class="center" style='background-color:black'>
  
  <h1>{{versionCheck}}</h1>
<span class="loader"></span>  
  
  
  <p>Please be patient as the website is currently undergoing initial setup and downloading necessary files. This may take a couple of minutes on the first run, but subsequent visits will be quicker.</p>
  



</div>

<p style='bottom:0px; right:10px;position:absolute'>Version 1.0.1</p>

</div>








<div class='mainBg' *ngIf='versionReady'>

<ion-router-outlet >

<div class="center" style='background-color:black'>
  <h1>Setup Complete</h1>
  

  <p>Great news! Everything has been successfully downloaded and the website is now ready for you to explore. Enjoy your experience!</p>
  

<ion-button size='large' expand='block' (click)="movetohome()">Let's Go!</ion-button>
</div>


<p style='bottom:0px; right:10px;position:absolute'>Version 1.0.1</p>


</ion-router-outlet>

</div>

</ion-app>
