.c-narrate {
  width: 92%;
  left: 4%;
  margin: auto;
  height: 20%;
  bottom: 4%;
  display: flex;
  border-radius: 20px;
  position: fixed;
  opacity: 0.8;
  background: #0C213F;
  flex-wrap: wrap;
  align-content: center;

  &__down-arrow {
    bottom: 6%;
    left: 92%;
    width: 2%;
    position: fixed;
  }

  &__container {
    display: flex;
    color: white;
    width: 95%;
    
    
    

    .cursor::after {
      content: '';
      display: inline-block;
      margin-left: 5px;
      background-color: white;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
    }

span{
  font-family: Poppins;
    font-weight: 500;
    left: 2%;
    line-height: 45.60px;
    position: relative;
    font-size: 2.2em;
    word-wrap: break-word;
}

    span.cursor::after {
    
      height: 26px;
      width: 15px;
    }

    p.cursor::after {
      font-family: Poppins;
      height: 13px;
      width: 6px;
      font-size:12px;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }

      49% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

.hide {
  display: none !important;
}