
<!-- The video -->
<video
    title="Advertisement"
    style="background-color: rgb(0, 0, 0); position: absolute; width: 100%; height: 100%;"
    src="./assets/sandbox/anim_birds.mp4"
    autoplay="true"
    id="myVideo"
    muted="muted"></video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">



<div class='mainBg' *ngIf='!versionReady'>





<div class="center" style='background-color:black'>
  
  <h1 style='color:white'>{{versionCheck}}</h1>
<span class="loader"></span>  
  
  
  <p style='color:white'>Please be patient as the website is currently undergoing initial setup and downloading necessary files. This may take a couple of minutes on the first run, but subsequent visits will be quicker.</p>
  



</div>

<p style='color:white;bottom:0px; right:10px;position:absolute'>Version 1.0.9 - Story Engine Alpha</p>

</div>








<div class='mainBg' *ngIf='versionReady'>



<div class="mainLoadingButton center" style='background-color:black'>
  
  <div *ngIf="isServiceWorkerRunning">
  <h1 style='color:white'>Ready to Start!</h1>
  <p style='color:white'>Great news! The application is ready for you to explore. Enjoy your experience!</p>

  </div>
<ion-button class='startBtn' size='large' expand='block' (click)="movetohome()">Let's Go!</ion-button>





   

</div>


<p  style='color:white;bottom:0px; right:10px;position:absolute'>Version 1.0.9 - Story Engine Alpha</p>




</div>
</div>