/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}






body{
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;

 
}

.container{

background-color:black;
border:1px solid deeppink;
position: absolute;
overflow: hidden;


//fixed value width: 1240px;
//fixed value height: 880px;
//fixed value top: 50%;
//fixed value left: 50%;
//fixed value margin-top: -440px; /* Negative half of height. */
//fixed value margin-left: -620px; /* Negative half of width. */



  top: 0;
 bottom: 0;
  width: 100%;
  height: 100%; 
  



video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;

}

}


.mainBg {
  /* The image used */
  background-image: url("../src/assets/sandbox/bg_rainforest.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center center;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.center {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
 // background-color:#1F354C;
 background:transparent;
  transform: translate(-50%, -50%);
  padding: 10px;
  
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 100%;
  display:block;
  height: 20px;
  background: 
    linear-gradient(#25b09b 0 0) left -40px top 0/40px 20px,
    linear-gradient(#ddd 0 0) center/100% 50%; 
  background-repeat: no-repeat;
  animation: l5 1s infinite linear;
}
@keyframes l5 {
  100% {background-position: right -40px top 0,center}
}

