.bg {
  /* The image used */
  background-image: url("../../assets/temp/bg_rainforest.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center center;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.river-relection{
  margin:auto; /* Required */
 position:absolute; /* Required */
 bottom:0; /* Aligns at the bottom */
 left:188px;right:0; /* Aligns horizontal center */
 width:749px;
 height:113px;
 max-height:100%; /* images bigger than 175 px  */
 max-width:100%;  /* will be shrinked to size */

}